html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0px;
    margin: 0px;
}

#drop-area {
    border: 2px dashed #ccc;
    /*border-radius: 20px;*/
    min-width: 100vw;
    min-height: 100vh;
    font-family: sans-serif;
    margin: 0px auto;
    padding: 20px;
}

#drop-area.highlight {
    background-color: rgba(142, 166, 231, 0.534);
}

p {
    margin-top: 0;
}

.my-form {
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button:hover {
    background: #ddd;
}

#fileElem {
    display: none;
}

td {
    border: solid 1px;
    vertical-align: top;
}

#infologo {
    vertical-align: middle;
}


/* Tooltip container */

.infotip {
    position: relative;
    display: inline-block;
}


/* infotip text */

.infotip .infotext {
    visibility: hidden;
    width: 800px;
    background-color: rgb(49, 89, 136);
    color: #fff;
    text-align: left;
    padding: 5px 5px;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.infotext a {
    color: white;
    font-weight: bold;
}


/* Show the infobox text when you mouse over the infotip container */

.infotip:hover .infotext {
    visibility: visible;
}


.escaleinfo {
    border-radius: 5px 5px 0 0;
    border: 1px solid #AAA;
    padding:5px;
    display: block;
}

/* Tooltip container */

.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
    /* If you want dots under the hoverable text */
}


/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    /*width: 500px;*/
    background-color: rgb(49, 89, 136);
    color: #fff;
    text-align: left;
    padding: 5px 5px;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
}


/* tableau d'information FAL */

table.infoTable {
    border: 0px solid #1C6EA4;
    /*    width: 100%;*/
    border-collapse: collapse;
    font-weight: bold;
    text-align: left;
}

table.infoTable td,
table.infoTable th {
    border: 1px solid #AAAAAA;
    padding: 5px 3px;
}

table.infoTable tbody td {
    font-size: 13px;
}

table.infoTable tr:nth-child(even) {
    background: rgb(255, 255, 255);
    color: black;
}

table.infoTable tr:nth-child(odd) {
    background: rgb(143, 149, 151);
    color: white;
}

table.infoTable thead {
    background: rgb(143, 149, 151);
    border-bottom: 2px solid #444444;
}

table.infoTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}


/* listes FAL5/6/7 ...*/

table.listTable {
    border: 0px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.listTable td,
table.listTable th {
    border: 1px solid #AAAAAA;
    padding: 5px 3px;
}

table.listTable tbody td {
    font-size: 13px;
}

table.listTable tr:nth-child(even) {
    background: rgb(255, 255, 255);
}

table.listTable thead {
    background: rgb(143, 149, 151);
    border-bottom: 2px solid #444444;
}

table.listTable thead th {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}

table.listTable tfoot td {
    font-size: 14px;
}

table.listTable tfoot .links {
    text-align: right;
}

table.listTable tfoot .links a {
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}